<div class="control-section">
    <ejs-schedule #scheduleObj width='100%' height='550px' 
    [selectedDate]="selectedDate" 
    [eventSettings]="eventSettings"
    (actionBegin)="onActionBegin($event)"
    (popupOpen)="onPopupOpen($event)"
    [workHours]="workHours" 
    [startHour]="startHour" 
    [endHour]="endHour"
    [showQuickInfo]="showQuickInfo">
        <e-views>
            <e-view option="Day"></e-view>
            <e-view option="Week"></e-view>
            <e-view option="Month"></e-view>
            <e-view option="Agenda"></e-view>
        </e-views>
        <ng-template #editorTemplate let-data>
            <form [formGroup]="form" >  
                <table *ngIf="data != undefined" class="custom-event-editor" width="100%" cellpadding="5">
                    <tbody>
                        <tr>
                            <td class="e-textlabel">Physician</td>
                            <td colspan="4">
                                <ejs-dropdownlist id='Status' name="Status" class="e-field" data-name="Status" placeholder='Choose Name'
                                    [dataSource]='StatusData' [fields]='statusFields' value='{{data.Status}}' 
                                     >
                                </ejs-dropdownlist> 
                            </td>
                           
                        </tr>
                        <tr>
                            <td class="e-textlabel">PhysicianId</td>
                            <td colspan="4">
                                <input id="PhysicianId" class="e-field e-input" type="text" value="{{physicianValue}}"
                                    name="PhysicianId"  style="width: 100%" />
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">PatientId</td>
                            <td colspan="4">
                                <input id="PatientId" class="e-field e-input" type="text" value="{{physicianValue}}"
                                    name="PatientId"  style="width: 100%"  />
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">Title</td>
                            <td colspan="4">
                                <input id="title" class="e-field e-input" type="text" value="{{data.title}}"
                                    name="title"  style="width: 100%" />
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">Description</td>
                            <td colspan="4">
                                <textarea id="description" class="e-field e-input" name="description" rows="3" cols="50"
                                    value="{{data.description}}" 
                                    style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">StartTime</td>
                            <td colspan="4">
                                <ejs-datetimepicker id="startTime" class="e-field" data-name="startTime"
                                    format="M/dd/yy h:mm a" [value]="dateParser(data.startTime || data.startTime)">
                                </ejs-datetimepicker>
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">EndTime</td>
                            <td colspan="4">
                                <ejs-datetimepicker id="endTime" class="e-field" data-name="endTime" 
                                format="M/dd/yy h:mm a" [value]='dateParser(data.endTime || data.endTime)'></ejs-datetimepicker>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>  
            </form> 
        </ng-template>
    </ejs-schedule>

</div>

